body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.logo {
	margin-top: 30vh;
	padding-bottom: 40px;
}

.inverse {
	color: white;
}